<template>
    <div class="aligner">
        <h1>{{ getRandom() }}</h1>
    </div>
</template>

<script>
    import insults from './insults'

    export default {
        name: 'HelloWorld',
        data: () => ({
            insults: insults
        }),
        methods: {
            getRandom() {
                return insults[Math.floor(Math.random()*insults.length)]
            }
        }
    }
</script>

<style scoped>
    .aligner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    h1 {
        font-size: 5vh;
        text-align: justify;
        text-align-last: center;
        font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    }

</style>
