<template>
  <div id="app">
    <Insults/>
  </div>
</template>

<script>
import Insults from './components/Insults.vue'

export default {
  name: 'app',
  components: {
    Insults
  }
}
</script>

<style>

</style>
